/**********************************************************************
 * Page Defaults.
 **********************************************************************/

body {
	font: 13px/1.7em Helvetica, Arial, sans-serif;
	background: #FFFFFF;
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

p {
	font: 13px/1.7em Helvetica, Arial, sans-serif;
}

input {
	font: 13px/1.7em Helvetica, Arial, sans-serif;
}

div.controls p {
	margin-top: 3px;
	margin-bottom: 0px;
	padding: 0px;
}

.box {
	background-color: white;
	border: 1px solid #CCC;
	border-radius: 4px;
	margin-bottom: 0px;

	box-shadow: 3px 3px 10px #ccc;

	padding-top: 10px;
}

.box .header {
	/* text-transform: uppercase; */
	background-color: #F6F6F6;
	background-image: -moz-linear-gradient(top, #FAFAFA, #F2F2F2);
	background-image: -ms-linear-gradient(top, #FAFAFA, #F2F2F2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#F2F2F2));
	background-image: -webkit-linear-gradient(top, #FAFAFA, #F2F2F2);
	background-image: -o-linear-gradient(top, #FAFAFA, #F2F2F2);
	background-image: linear-gradient(top, #FAFAFA,#F2F2F2);
	background-repeat: repeat-x;
	border-top: 1px solid white;
	border-bottom: 1px solid #CCC;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 0 15px 0;
	margin-top: -10px;
}

.box .header h2 {
	height: 46px;
	line-height: 46px;
}

.box .body p {
	margin: 10px;
}

.box form {
	margin: 0px;
}

.box .footer .form-actions {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.box .form-actions {
	margin-bottom: 0px;
	text-align: right;
}

.box .centered {
	text-align: center;
}

span.yes {
	color: #050;
}

span.no {
	color: #500;
}

span.meh {
	color: #AAA;
}
